<div class="container">
<div class="row justify-content-center" style="margin-top: 80px;">
  <div class="col-md-6 col-md-offset-3">
<div class="holdformsi">
<h2 style="text-align: center; font-family: 'Poppins', sans-serif;">Order details</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Number:</strong>
  <%= @order.number %> <%= @order.measureunit %>
</p>

<p>
  <strong>Message:</strong>
  <%= @order.message %>
</p>

<p>
  <strong>Payment Option:</strong>
  <%= @order.paymentoptions %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @order.deliver %>
</p>
<hr>
<h3>Contact Details</h3>

<p>
  <strong>Buyer Name:</strong>
  <%= @order.buyername %>
</p>

<p>
  <strong>Buyer Phone:</strong>
  <%= @order.buyerphone %>
</p>

<p>
  <strong>Buyer Email:</strong>
  <%= @order.buyeremail %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @order.accept %>
</p>

<p style="text-align: right;"><%= link_to "Fulfill Order" , fulfill_order_path(@order), method: :post, :class => "btn btn-success btn-small" %></p>

</div>
</div>
</div>

</div>

