


<style type="text/css">

.projpartial{
	width: 100%;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 12px;
	margin: 15px;
	border: 1px solid #cccccc;
}

.dolus{
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);

}

</style>

<div class="col-lg-12">
	<div class="projpartial">
		 <div class="row">
      <div class="col-sm-12 col-lg-3" style="margin-bottom: 20px;">
        <img src="<%= product.photos.first.productimage.url %>" width="200px" height="200px" class="img-responsive img-rounded dolus">
      </div>
      <div class="col-sm-12 col-lg-9">
       <span style="margin-bottom: 10px;"><strong></strong> <%= product.name %></span><br>
       <span style="margin-bottom: 10px;"><strong>Description:</strong> <%= product.description %></span><br>
       <span style="margin-bottom: 10px;"><strong>Amount:</strong> <%= product.amount %></span>
       <br>
       <p style="margin-top: 20px;"><%= link_to "View More" , product, :class => "btn btn-primary" %> 
       <a href="/orders/new" class="btn btn-success">Place Order</a>
       </p>
      </div>
    </div>
	
</div>
</div>